<div class="uk-card uk-card-ubr">
  <div class="uk-card-media-top">
    <img src="{{ options.ubr_blok_1_illustratie }}" alt="">
  </div>
  <div class="uk-card-media-body">
    <div class="uk-card-body">
      <h2 class="uk-card-title">{{ options.ubr_blok_1_titel }}</h2>
      <div class="uk-card-content">{{ options.ubr_blok_1_tekst }}</div>
    </div>
  </div>
</div>

  <div class="uk-card uk-card-ubr" style="margin-top: 60px">
    <div class="uk-card-media-top">
      <img src="{{ options.ubr_blok_2_illustratie }}" alt="">
    </div>
    <div class="uk-card-media-body">
      <div class="uk-card-body">
        <h2 class="uk-card-title">{{ options.ubr_blok_2_titel }}</h2>
        <div class="uk-card-content">{{ options.ubr_blok_2_tekst }}</div>
      </div>
    </div>
  </div>

<div class="uk-card uk-card-ubr" style="margin-top: 90px">
  <div class="uk-card-media-top">
    <img src="{{ options.ubr_blok_3_illustratie }}" alt="">
  </div>
  <div class="uk-card-media-body">
    <div class="uk-card-body">
      <h2 class="uk-card-title">{{ options.ubr_blok_3_titel }}</h2>
      <div class="uk-card-content">{{ options.ubr_blok_3_tekst }}</div>
    </div>
  </div>
</div>

<div class="uk-card uk-card-ubr" style="margin-top: 150px">
  <div class="uk-card-media-top">
    <img src="{{ options.ubr_blok_4_illustratie }}" alt="">
  </div>
  <div class="uk-card-media-body">
    <div class="uk-card-body">
      <h2 class="uk-card-title">{{ options.ubr_blok_4_titel }}</h2>
      <div class="uk-card-content">{{ options.ubr_blok_4_tekst }}</div>
    </div>
  </div>
</div>