<div class="uk-section uk-section-contact-page">
  <div class="uk-container">
    <div uk-grid>

      <div class="uk-width-2-5@m">
          <div class="uk-card uk-card-body">
            <div class="uk-card-title">
              <h2>{{ post.get_field('contact_titel_contactformulier') }}</h2>
            </div>
            <div class="uk-visible@s">{{ post.get_field('contact_shortcode_contactformulier')|shortcodes }}</div>
            <div class="uk-card-action uk-hidden@s">
              <a class="uk-button uk-button-default uk-margin-remove" href="#modal-form" uk-toggle><span class="icon-form"></span>{{ options.hey_webbio_contactformulier_tab_tekst }}</a>
            </div>
          </div>
      </div>
      <div class="uk-width-3-5@m">
        <div class="uk-child-width-1-2@s" uk-grid>
          <div>
            <div class="uk-card uk-card-body">
              <div class="uk-card-block">
                <div class="uk-card-title">
                  <h2>{{ post.get_field('contact_titel_direct_chatten') }}</h2>
                </div>
                <div class="uk-card-description">
                  {{ post.get_field('contact_tekst_direct_chatten') }}
                </div>
                <div class="uk-card-action">
                  <a class="uk-button uk-button-default uk-margin-remove uk-intercom" href="{{ post.get_field('contact_cta_button_url') }}" target="{{ post.get_field('contact_cta_button_target') }}"><span class="icon-chat"></span>{{ post.get_field('contact_cta_button_tekst') }}</a>
                </div>
              </div>
              <div class="uk-card-block">
                <div class="uk-card-title">
                  <h2>{{ post.get_field('contact_titel_direct_bellen') }}</h2>
                </div>
                <div class="uk-card-description">
                  {{ post.get_field('contact_tekst_direct_bellen') }}
                </div>
              </div>
            </div>

          </div>
          <div>
            <div class="uk-card uk-card-body">
              <div class="uk-card-description">
                {{ post.get_field('contact_contactgegevens') }}
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>
  <div id="modal-form" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

      <button class="uk-modal-close-default" type="button" uk-close></button>
      <h2 class="uk-modal-title">{{ options.hey_webbio_contactformulier_tab_tekst }}</h2>
      <div>
        {% filter shortcodes %}
          [gravityform id="1" title="false" description="false" ajax="true"]
        {% endfilter %}
      </div>
    </div>
  </div>
</div>